<div class="row header-buttons">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-3">
        <h4 class="editor-title">Pleak SQL-privacy editor</h4>
      </div>
      <div class="col-xs-9 buttons-container">
        <ul class="buttons">
          <li>
            <a id="change-editor" title="Change analyzer" data-toggle="modal" data-target="#changeAnalyzerModal" class="active">
              <span class="glyphicon glyphicon-blackboard"></span> Change analyzer
            </a>
          </li>
        </ul>
        <ul class="buttons" *ngIf="canEdit()">
          <li>
            <a id="save-diagram"title="save BPMN diagram" href="#">
              <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" *ngIf="isLoaded()">
          <li>
            <a id="analyse-diagram" title="Analyze PA-BPMN diagram" href="#" class="active">
              <span class="glyphicon glyphicon-equalizer"></span> Analyze Sensitivities
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" *ngIf="isLoaded()">
          <li>
            <a id="leaks-report" title="Generate leaks report" href="#" class="active">
              <span class="glyphicon glyphicon-list-alt"></span> SQL LeaksWhen
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" *ngIf="isLoaded()">
          <li>
            <a id="sql-policies" title="Show all policies" href="#" class="active">
              <span class="glyphicon glyphicon-list-alt"></span> Policies
            </a>
          </li>
        </ul>
        <ul class="buttons analyze">
          <li>
            <a id="bpmn-leaks-report" title="Generate leaks report" href="#" class="active">
              <span class="glyphicon glyphicon-list-alt"></span> BPMN LeaksWhen
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" id="login-container" *ngIf="isAuthenticated()">
          <li>
            <a id="log-out" data-toggle="modal" data-target="#logoutModal" href class="active">
              <span class="glyphicon glyphicon-log-in"></span> Log out
            </a>
          </li>
        </ul>
        <ul class="buttons analyze" id="login-container" *ngIf="!isAuthenticated()">
          <li>
            <a id="log-in" data-toggle="modal" data-target="#loginModal" href class="active">
              <span class="glyphicon glyphicon-log-in"></span> Log in
            </a>
          </li>
        </ul>
        <div class="file-name-container">
          <span id="fileSaveSuccess" class="help-block success-message" style="display: none;">
            Successfully saved the diagram!
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="text-16" id="fileName" *ngIf="isAuthenticated()"></span>
      </div>
    </div>
  </div>
</div>

<div class="row error-messages">
  <span id="analyserInputError" class="help-block error-message">
    SQL-analyser couldn't analyse all the tasks of the model! Makse sure that all input queries are correct!
  </span>
  <span id="leaksWhenInputError" class="help-block error-message">
    No data objects selected!
  </span>
  <span id="leaksWhenServerError" class="help-block error-message">
    Server error!
  </span>
</div>

<div class="modal fade" id="messageModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bpmnLeaksWhenModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">BPMN LeaksWhen</h4>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>


<div id="canvas"></div>

<div id="sidebar">
    <sidebar [canEdit]="canEdit()"></sidebar>
</div>

<div class="modal fade" id="changeAnalyzerModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>Change analyzer</h4>
        </div>
        <div class="modal-body text-center">
          <ul class="buttons">
            <li>
              <a>
                <span class="glyphicon glyphicon-transfer"></span> SQL Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/sql-derivative-sensitivity-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> SQL DS Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/pe-bpmn-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> PE-BPMN Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/guessing-advantage-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> Guessing Advantage Analyzer
              </a>
            </li>
          </ul>
          <br>
          <br>
          <ul class="buttons">
            <li>
              <a class="active" href="/combined-sensitivity-editor/{{viewerType == 'public' ? 'viewer/' : ''}}{{modelId}}">
                <span class="glyphicon glyphicon-transfer"></span> Combined Sensitivity Analyzer
              </a>
            </li>
          </ul>
        </div>

      </form>
    </div>
  </div>
</div>